<div class="form-container">
  <mat-card class="seller-form-card">
    <mat-card-title *ngIf="isEditMode">Edit Seller</mat-card-title>
    <mat-card-title *ngIf="!isEditMode">Add Seller</mat-card-title>

    <form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyname">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Concerned Person</mat-label>
        <input matInput formControlName="concernedperson">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact</mat-label>
        <input matInput formControlName="contact">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>GST No</mat-label>
        <input matInput formControlName="gstno">
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-button color="warn" type="button" (click)="router.navigate(['/dashboard/seller'])">
          Cancel
        </button>
      </div>
    </form>
  </mat-card>
</div>
