<div *ngIf="isLoading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="!isLoading && product">
  <mat-card class="product-card">

    <!-- Optional Image Display -->
    <img *ngIf="product.image" [src]="product.image" alt="Product Image" class="product-image" />

    <!-- Optional Edit Button -->
    <mat-card-header>
      <button mat-icon-button color="primary" class="edit-button" *ngIf="false">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput [(ngModel)]="product.productname" disabled>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Unit</mat-label>
        <input matInput [(ngModel)]="product.unit" disabled>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" [(ngModel)]="product.price" disabled>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="product.description" disabled></textarea>
      </mat-form-field>

    </mat-card-content>
  </mat-card>
</ng-container>
